<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>{{title}}</h1>
  <h1>Backend Engineer</h1>
  <p>Experienced and results-oriented Back-end Developer with a deep passion for the job and an Engineering Physics
    degree. Offering a strong attention to detail and accuracy, excellent problem-solving skills, and the important
    ability to work in fast-paced team environments, I am a reliable individual with determination to meet and exceed
    all assigned results.</p>
    <h3>Contact Details</h3>
    <ul>
      <li>kehindeibukun0619@gmail.com</li>
      <li>+2348075889776</li>
      <li>wwww.linkedin.com/in/ibukunoluwa-kehinde-427a14194</li>
      <li>https://github.com/kenny0619</li>
      <li>Lagos, Nigeria</li>
    </ul>

    <h2>SKILLS</h2>
    <ul>
      <li>Git</li>
      <li>Node.js</li>
      <li>Python</li>
      <li>Golang</li>
      <li>Ruby</li>
      <li>Product management</li>
    </ul>
  <h3>Drop a message</h3>
  <form action="/contact" method="POST" class="form-example">
    
      <label for="name">Enter your fullname: </label>
      <input type="text" name="name" id="name" required />
    
      <label for="email">Enter your email: </label>
      <input type="email" name="email" id="email" required />
   
      <label for="message">your message </label>
      <input type="text" name="message" id="message" required />
      <input type="submit" value="Submit" />
    
  </form>
</body>

</html>